name: Release Checker

on:
  pull_request_target:
    types: [closed]

jobs:
  detect:
    runs-on: ubuntu-22.04
    name: 'Check labels'
    outputs:
      release-type: ${{ steps.release.outputs.type }}
      is-merge-event: "${{ github.event_name == 'pull_request_target' && github.event.action == 'closed' && github.event.pull_request.merged == true }}"
    steps:
      - name: Get all labels in PR
        id: pr-labels
        uses: joerick/pr-labels-action@0543b277721e852d821c6738d449f2f4dea03d5f

      - name: Set Release type
        id: release
        run: |
          if [ -n "$GITHUB_PR_LABEL_MAJOR" ]; then
            echo "type=major" >> $GITHUB_OUTPUT
          elif [ -n "$GITHUB_PR_LABEL_MINOR" ]; then
            echo "type=minor" >> $GITHUB_OUTPUT
          elif [ -n "$GITHUB_PR_LABEL_PATCH" ]; then
            echo "type=patch" >> $GITHUB_OUTPUT
          elif [ -n "$GITHUB_PR_LABEL_NO_RELEASE" ]; then
            echo "type=no-release" >> $GITHUB_OUTPUT
          else
            echo "::error ::No release type labels found (patch/minor/major/no-release)"
            exit 2
          fi

  use-release-info:
    name: Use release-type and is-merge-event
    needs: detect
    runs-on: ubuntu-22.04
    if: needs.detect.outputs.is-merge-event == 'true'
    steps:
      - name: Show release type
        run: 'echo "This PR was merged and the release type is: ${{ needs.detect.outputs.release-type }}"'
